body {
    background-color: white;
    background-image: url("background.gif");
    background-size: cover;
    background-repeat: repeat-y;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 1000px;
}
#navbar {
    height: 50px;
    width: 150px;
    position: fixed;
    margin-left: 1015px;
    cursor: pointer;
}
#header {
    background-color: white;
    font-size: 13px;
    font-family: Impact, Arial;
    text-shadow: 3px 3px #888888;
    border: 4px solid darkslategrey;
    border-radius: 5px;
    height: 100px;
    box-shadow: 5px 5px 5px #888888;
}
#container {
    background-color: white;
    border: 2px solid darkslategrey;
    border-radius: 5px;
    height: 250px;
    box-shadow: 5px 5px 5px #888888;
}
#sisu {
    border: 1px solid white;
}
#footer {
    background-color: white;
    border: 2px solid darkslategrey;
    border-radius: 5px;
    height: 20px;
    box-shadow: 5px 5px 5px #888888;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 1000px;
}
#pilt1 {
    float: left;
}
#pilt2 {
    float: right;
}
.top {
    vertical-align: text-top;
}
.bottom {
    vertical-align: text-top;
}
.tbody {
    list-style-type: circle;
}
h6 {
    display: inline;
    font-weight: lighter;
}
h5 {
    display: inline;
    font: 12px arial, sans-serif;
}
h2 {
    text-decoration: underline;
}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}